<section class="section-aboutus" id="anchor-about">
  <div class="container-aboutus">
    <h2 class="aboutus-name">
      YachtJet fleet is here to take you on the ultimate adventure
    </h2>
    <div class="paragraph-container">
      <p class="aboutus-paragraph">
        From spacious decks to state-of-the-art technology, our yachts are
        designed to provide the perfect blend of luxury and functionality.
      </p>
      <p class="aboutus-second-paragraph">
        Take a look at our selection below and choose the yacht that matches
        your needs and preferences.No matter which yacht you choose, our
        experienced crew will ensure that your journey is smooth and enjoyable.
        Book now and get ready for an unforgettable adventure on the high seas.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ../img/about/about-us-des-m1.jpg  1x,
          ../img/about/about-us-des-m@2.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ../img/about/about-us-des1.jpg  1x,
          ../img/about/about-us-des@2.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/about/about-us-tab1.jpg  1x,
          ../img/about/about-us-tab@2.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/about/about-us-mob1.jpg  1x,
          ../img/about/about-us-mob@2.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/about-us-mob.jpg"
        alt="YachtJet fleet"
        class="photo-aboutus"
      />
    </picture>
  </div>
</section>
