<section class="advantages">
    <div class="advantages-container container">
        <h2 class="visually-hidden">Advantages</h2>
        <ol class="advantages-list list" >
            <li class="advantages-list-item"></li>
                <div class="under-text-advantages">
                    <p class="advantages-description current">Swimming and water sports: try your hand at water skiing</p>
          </div>
            
                <li class="advantages-list-item"></li>
                    <div class="under-text-advantages">
                        <p class="advantages-description">Fishing: try to catch your own dinner</p>
              </div>
                
                <li class="advantages-list-item"></li>
                    <div class="under-text-advantages">
                        <p class="advantages-description">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
              </div>
                <li class="advantages-list-item"></li>
                    <div class="under-text-advantages">
                        <p class="advantages-description">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
              </div>
                
        </ol>
    </div>
    <div class="advantages-photo container">
        <picture>
            <source
            media="(min-width: 1440px)"
            srcset="
              ../img/advantages-img/adv-pc2.jpg 1x,
              ../img/advantages-img/adv-pc2@2x.jpg 2x
            "
            alt="photo of yacht"
          />

            <source
              media="(min-width: 1280px)"
              srcset="
                ../img/advantages-img/adv-pc.jpg 1x,
                ../img/advantages-img/adv-pc@2x.jpg 2x
              "
              alt="photo of yacht"
            />
            <source
              media="(min-width:768px)"
              type="image/jpg"
              srcset="
              ../img/advantages-img/adv-tablet.jpg    1x,
              ../img/advantages-img/adv-tablet@2x.jpg 2x
              "
            />

            <source
              media="(max-width:767px)"
              type="image/jpg"
              srcset="
                ../img/advantages-img/adv-mobile.jpg   1x,
                ../img/advantages-img/adv-mobile@2x.jpg 2x
              "
            />

            <img
              src="../img/advantages-img/adv-mobile.jpg"
              alt="photo of yacht"
              width="335"
              height="424"
            />
          </picture>
        </div>
</section>