<div class="container">
    <div class="mobile-menu-backdrop js-menu-container active"></div>
    <div class="mobile-menu">
      <ul class="logo-menu-mobile">
        <a href="./index.html" class="mobil-menu-logo">
          <svg class="mobil-menu-icon" width="14" height="14">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
          <p class="menu-title">thewatchspot</p>
        </a>
        <button
          type="button"
          class="close-button menu-close-button js-close-menu"
          aria-label="Close Menu"
        >
          <svg class="close-button-icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-x"></use>
          </svg>
        </button>
      </ul>
      <ul class="mobile-menu-body">
        <li><a class="js-close-menu-link1" href="#about-anchor">ABOUT US</a></li>
        <li><a class="js-close-menu-link2" href="#catalog-anchor">CATALOG</a></li>
        <li><a class="js-close-menu-link3" href="#sale-anchor">SALE</a></li>
      </ul>
    </div>
  </div>
  <script src="./js/mobile-menu.js" defer></script>
  