<!-- <div class="container">
  <div class="mobile-menu-backdrop js-menu-container active"></div>
  <div class="mobile-menu mobile-page-header-container">
    <ul class="logo-menu-mobile">
      <a href="./index.html" class="mobil-menu-logo">
        <p class="menu-title">yachtjet</p>
      </a>
      <button
        type="button"
        class="close-button menu-close-button js-close-menu js-open-menu"
        aria-label="Close Menu"
      >
        <svg class="close-button-icon" width="12" height="12">
          <use href="./img/sprite.svg#icon-close-sharp"></use>
        </svg>
      </button>
    </ul>
    <ul class="mobile-menu-body">
      <li>
        <a class="js-close-menu-link js-close-menu-link-1" href="#anchor-about"
          >ABOUT</a
        >
      </li>
      <li>
        <a
          class="js-close-menu-link js-close-menu-link-2"
          href="#section-yachts"
          >YACHTS</a
        >
      </li>
      <li>
        <a
          class="js-close-menu-link js-close-menu-link-3"
          href="#anchor-reviews"
          >REVIEWS</a
        >
      </li>
    </ul>

    <ul class="social-link-list-mob">
      <a
        class="social-link-mobile-menu"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a
        class="social-link-mobile-menu"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
      <a
        class="social-link-mobile-menu"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </ul>
  </div>
</div>
<script src="./js/burger-menu.js" defer></script> -->

<div class="container">
  <div class="mobile-menu mobile-page-header-container js-menu-container">
    <ul class="logo-menu-mobile">
      <a href="./index.html" class="mobil-menu-logo">
        <p class="menu-title">yachtjet</p>
      </a>
      <button
        type="button"
        class="close-button menu-close-button js-close-menu"
        aria-label="Close Menu"
      >
        <svg class="close-button-icon" width="12" height="12">
          <use href="./img/sprite.svg#icon-close-sharp"></use>
        </svg>
      </button>
    </ul>
    <ul class="mobile-menu-body">
      <li>
        <a class="js-close-menu-link js-close-menu-link-1" href="#anchor-about"
          >ABOUT</a
        >
      </li>
      <li>
        <a
          class="js-close-menu-link js-close-menu-link-2"
          href="#section-yachts"
          >YACHTS</a
        >
      </li>
      <li>
        <a
          class="js-close-menu-link js-close-menu-link-3"
          href="#anchor-reviews"
          >REVIEWS</a
        >
      </li>
    </ul>
    <ul class="social-link-list-mob">
      <a
        class="social-link-mobile-menu"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a
        class="social-link-mobile-menu"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
      <a
        class="social-link-mobile-menu"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </ul>
  </div>
</div>
