<footer class="closed-part">
  <div class="container-footer">
    <div class="part-footer">
      <a class="logo" href="../index.html">yachtjet</a>
      <ul class="icon-footer">
        <li class="list-icon-footer">
          <a
            class="link-icon"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="social-link-icon" width="24" height="24">
              <use href="../img/icon/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list-icon-footer">
          <a
            class="link-icon"
            href="https://www.youtube.com/c/GoIT "
            target="_blank"
          >
            <svg class="social-link-icon" width="24" height="24">
              <use href="../img/icon/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="list-icon-footer">
          <a
            class="link-icon"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="social-link-icon" width="24" height="24">
              <use href="../img/icon/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <div>
        <p>2023. Yacht Adventures</p>
        <a href="../index.html">Privacy Police</a>
      </div>
    </div>
  </div>
</footer>
