<header class="page-header container">
  <div class="page-header-container">
    <a href="../index.html" class="logo">yachtjet</a>
    <nav class="page-nav">
      <a href="#anchor-about" class="nav-header-button btn-about">About</a>
      <a href="#section-yachts" class="nav-header-button">Yachts</a>
      <a href="#anchor-reviews" class="nav-header-button">Reviews</a>
    </nav>
    <button class="icon-burger-btn" type="button">
      <svg class="icon-burger" width="28" height="28">
        <use href="../img/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>

    <ul class="social-link-list">
      <a
        class="social-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a
        class="social-link"
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
      <a
        class="social-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
      >
        <svg class="social-page-icon" width="24" height="24">
          <use href="../img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </ul>
  </div>
</header>
