<section class=" section rent-section" id="anchor-rent">
    <div class="img-title-container">
        <picture>
         <source 
         media="(min-width: 1440px)"
         srcset="../img/rent-img/rent-pc2.jpg, ../img/rent-img/rent-pc2.2x.jpg"
         width="768"
         />
         <source 
         media="(min-width: 1280px)"
         srcset="=../img/rent-img/rent-pc.jpg, ../img/rent-img/rent-pc@2x.jpg"
         width="658"
         />
         <source
         media="(min-width: 768px)"
         srcset="=../img/rent-img/rent-tablet.jpg, ../img/rent-img/rent-tablet@2x.jpg"
         width="704"
         />
         <source
            media="(max-width: 767px)"
            srcset="../img/rent-img/rent-mobile.jpg, ../img/rent-img/rent-mobile2@x.jpg"
            width="335"
          />
          <img
          src="../img/rent-img/rent-mobile.jpg"
          alt="rent-img"
          width="100%"
          height="auto"
          loading="lazy"
          class="rent-img-item"
        />
         </picture>
       </div>
    <div class="rent-div">
        <h2 class="rent-title">Rent a yacht now</h2>
        <form action="#" class="rent-form">
            <label for="user-name" class="visually-hidden">Full name</label>
            <input
              type="text"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}"
              name="user-name"
              required
              id="user-name"
              class="user-input"
              placeholder="Full name"
              />
            <label for="user-email" class="visually-hidden">Email</label>
              <input
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}"
                title="Invalid email address"
                type="email"
                name="user-email"
                required
                id="user-email"
                class="user-input"
                placeholder="Email"
              />
            <label for="user-phone" class="visually-hidden">Phone number</label>
                    <input class="form-input"
                     type="tel"
                      name="phone" 
                      required
                      id="user-phone"
                      class="user-input"
                      maxlength="15"
                      placeholder="Phone number"
                    />
            <label for="user-comment"class="visually-hidden" >Comment</label>
          <textarea
            name="user-comment"
            required
            id="user-comment"
            rows="7"
            class="textarea-comment user-input"
            placeholder="Comment"
          ></textarea>
          <button type="submit" class="form-rent-btn">Send</button>

        </form>


    </div>
</section>