<section id="anchor-reviews">
  <div class="reviews container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-paragraph">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="reviews-feedback-list">
      <li class="reviews-item">
        <img
          class="customer-photo"
          srcset="../img/reviews_john_wax@2x.jpeg 2x"
          src="../img/reviews_john_wax.jpeg"
          alt="photo of John Wax"
          width="56"
        />
        <h3 class="reviews-cust-name">John Wax</h3>
        <p class="reviews-cust-text">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="reviews-item second-item">
        <img
          class="customer-photo"
          srcset="../img/reviews_victoria_romashenko@2x.jpeg 2x"
          src="../img/reviews_victoria_romashenko.jpeg"
          alt="photo of Victoria Romashenko"
          width="56"
        />
        <h3 class="reviews-cust-name">Victoria Romashenko</h3>
        <p class="reviews-cust-text">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="reviews-item third-item">
        <img
          class="customer-photo"
          srcset="../img/reviews_ihor_trachuk@2x.jpeg 2x"
          src="../img/reviews_ihor_trachuk.jpeg"
          alt="photo of Ihor Trachuk"
          width="56"
        />
        <h3 class="reviews-cust-name">Ihor Trachuk</h3>
        <p class="reviews-cust-text">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
