<section class="yachts-main-section container" id="section-yachts">
  <div>
    <h2 class="yachts-section-header">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <!-- =====================FIRST BLOCK======================== -->
      <li class="yachts-list-item">
        <img
          class="yachts-picture-item"
          srcset="
            ../img/yacht-img/yaht-one-mobile.png    302w,
            ../img/yacht-img/yaht-one-mobile@2x.png 604w,
            ../img/yacht-img/yaht-one-tablet.png    304w,
            ../img/yacht-img/yaht-one-tablet@2x.png 608w,
            ../img/yacht-img/yaht-one-pc.png        345w,
            ../img/yacht-img/yaht-one-pc@2x.png     690w,
            ../img/yacht-img/yaht-one-pc2.png       360w,
            ../img/yacht-img/yaht-one-pc2@2x.png    720w
          "
          sizes="(min-width: 1440px) 360px, (min-width: 1280px) 345px, (min-width: 768px) 304px, (max-width: 767px) 302px"
          src="../img/yacht-img/yacht-one-mobile.png"
          alt="Arrow Yacht"
        />
        <div class="yachts-description">
          <div class="yachts-description-head yachts-description-head-line">
            <p class="yachts-name">Arrow</p>
            <p class="yachts-type-class">LUXURY YAHTS</p>
          </div>
          <div class="yachts-description-full">
            <div class="yachts-properties">
              <p class="">LENGTH</p>
              <p class="">BUILDER</p>
              <p class="">BUILT</p>
              <p class="">GUESTS</p>
              <p class="">PRICE</p>
            </div>
            <div class="yachts-properties-values">
              <p class="">48m(155ft)</p>
              <p class="">Admiral</p>
              <p class="">2021</p>
              <p class="">11 in 5 cabins</p>
              <p class="">€33,500,000</p>
            </div>
          </div>
        </div>
      </li>
      <!-- ========================SECOND BLOCK========================= -->
      <li class="yachts-list-item yachts-list-item-tab">
        <img
          class="yachts-picture-item"
          srcset="
            ../img/yacht-img/yaht-two-tablet.png    304w,
            ../img/yacht-img/yaht-two-tablet@2x.png 608w,
            ../img/yacht-img/yaht-two-pc.png        345w,
            ../img/yacht-img/yaht-two-pc@2x.png     690w,
            ../img/yacht-img/yaht-two-pc2.png       360w,
            ../img/yacht-img/yaht-two-pc2@2x.png    720w
          "
          sizes="(min-width: 1440px) 360px, (min-width: 1280px) 345px, (min-width: 768px) 304px"
          src="../img/yacht-img/yaht-two-tablet.png"
          alt="Benetty Yacht"
        />
        <div class="yachts-description">
          <div class="yachts-description-head yachts-description-head-line">
            <p class="yachts-name text-overflow">BENETTI OASIS 40M BO122</p>
            <p class="yachts-type-class">LUXURY YAHTS</p>
          </div>
          <div class="yachts-description-full">
            <div class="yachts-properties">
              <p class="">LENGTH</p>
              <p class="">BUILDER</p>
              <p class="">BUILT</p>
              <p class="">GUESTS</p>
              <p class="">PRICE</p>
            </div>
            <div class="yachts-properties-values">
              <p class="">41m (133ft)</p>
              <p class="">Benetti</p>
              <p class="">2025</p>
              <p class="">10 in 5 cabins</p>
              <p class="">€23,210,000</p>
            </div>
          </div>
        </div>
      </li>
      <!-- ========================THIRD BLOCK=========================== -->
      <li class="yachts-list-item yachts-list-item-desk">
        <img
          class="yachts-picture-item"
          srcset="
            ../img/yacht-img/yaht-trhee-pc.png     345w,
            ../img/yacht-img/yaht-trhee-pc@2x.png  690w,
            ../img/yacht-img/yaht-trhee-pc2.png    360w,
            ../img/yacht-img/yaht-trhee-pc2@2x.png 720w
          "
          sizes="(min-width: 1440px) 360px, (min-width: 1280px) 345px"
          src="../img/yacht-img/yaht-trhee-pc.png"
          alt="Benetty Yacht"
        />
        <div class="yachts-description">
          <div class="yachts-description-head yachts-description-head-line">
            <p class="yachts-name">BELLE ANNA</p>
            <p class="yachts-type-class">LUXURY YAHTS</p>
          </div>
          <div class="yachts-description-full">
            <div class="yachts-properties">
              <p class="">LENGTH</p>
              <p class="">BUILDER</p>
              <p class="">BUILT</p>
              <p class="">GUESTS</p>
              <p class="">PRICE</p>
            </div>
            <div class="yachts-properties-values">
              <p class="">50m(155ft)</p>
              <p class="">ISA</p>
              <p class="">2012</p>
              <p class="">12 in 6 cabins</p>
              <p class="">€21,000,000</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a class="yachts-button-yachts-rental" href="#anchor-rent">Yacht rental</a>
  </div>
</section>
