/* GENERAL STYLES */
ol {
    /* margin-top: 0;
    margin-bottom: 0; */
    counter-reset: my-counter;
    padding: 0;
    list-style: none; 
    color: #FBFBFB;
}
/* MOBILE STYLES */

.advantages-container{
    border-radius: 24px;
background: #1B414B;
margin-bottom: 20px;
}
@media screen and (min-width: 320px) {
.advantages-container{
max-width: 335px;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
}
.container{
    padding: 0;
}
.advantages-description{
/* display: block; */
color: #FBFBFB;
padding-top: 18px;
opacity: 0.8;
}
.current{
width: 238px;
}
.advantages-photo{
    display: flex;
    justify-content: center;
   } 
}
.advantages-list{
list-style: none;
padding: 80px 20px 80px 20px;
margin: 0;
}

.advantages-list-item{
    counter-increment: my-counter;
    margin-bottom: 18px;
    margin-top: 18px;
    position: relative;
  }
.advantages-list-item::before {
    content: counter(my-counter, decimal-leading-zero);
    display: inline-block;  
    text-align: right;
    font-weight: 500;
    font-size: 28px;
}

.advantages-list-item::after {
width: 100%;
height: 2px;
content: '';
position: absolute;
left: 0;
top:100%;
margin: 18px 0;
border-radius: 18px;
background: rgba(251, 251, 251, 0.10); }
