.rent-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.rent-title {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-form {
  max-width: 335px;
}

.rent-form-input {
  display: block;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  padding-left: 18px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  outline: transparent;
  margin-bottom: 18px;
}

::placeholder {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.rent-form-textarea {
  resize: none;
  width: 100%;
  height: 108px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding-left: 18px;
  padding-top: 14px;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  background-color: transparent;
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 50px;
}

.rent-button {
  border-radius: 15px;
  background: #1b414b;
  padding: 18px 75px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: none;
  color: #fbfbfb;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.02em;
}
