.rent-section {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  gap: 80px;
  margin-left: auto;
  margin-right: auto;
}

.rent-img-container {
  display: flex;
  justify-content: center;
}

.rent-img-container img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rent-image {
  display: block;
  width: 100%;
  flex-shrink: 0;
  height: auto;
}

.rent-title {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.rent-form {
  max-width: 335px;
}

.rent-form-input {
  display: block;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  padding-left: 18px;
  width: 100%;
  height: 42px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  outline: transparent;
  margin-bottom: 18px;
}

::placeholder {
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.rent-form-textarea {
  resize: none;
  width: 100%;
  height: 108px;
  border-radius: 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  padding-left: 18px;
  padding-top: 14px;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  background-color: transparent;
  color: rgba(251, 251, 251, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 40px;
}

.rent-button {
  border-radius: 15px;
  background: #1b414b;
  padding: 14px 44px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: none;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.rent-button:hover,
.rent-button:focus {
  background: #fbfbfb;
  color: #1b414b;
}

@media screen and (min-width: 768px) {
  .rent-section {
    padding-top: 150px;
    padding-bottom: 75px;
    padding-right: 32px;
    padding-left: 32px;
    gap: 100px;
  }

  .rent-image {
    width: 704px;
  }
}

.rent-title {
  font-size: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}

.rent-form {
  max-width: 472px;
}

.rent-form-wrapper {
  width: 472px;
}

.rent-form-textarea {
  margin-bottom: 50px;
}
.rent-button {
  font-size: 18px;
  padding: 18px 75px;
  line-height: 110%;
}

@media screen and (min-width: 1280px) {
  .rent-section {
    padding-bottom: 76px;
    padding-right: 50px;
    padding-left: 50px;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
  }

  .rent-title {
    font-size: 48px;
    letter-spacing: -0.02em;
    margin-bottom: 50px;
  }

  .rent-form-textarea {
    margin-bottom: 50px;
  }
  .rent-button {
    font-size: 18px;
    padding: 18px 75px;
    line-height: 110%;
  }
}
