.yachts-main-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.yachts-section-header {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 319px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #FBFBFB;
}

@media screen and (min-width: 768px) {
    .yachts-main-section {
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .container {
        max-width: 768px;
    }

    .yachts-section-header {
        font-size: 48px;
        max-width: 645px;
        margin-bottom: 75px;
    }
}

@media screen and (min-width: 1280px) {
    .yachts-main-section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .container {
        max-width: 1280px;
    }

    .yachts-section-header {
        max-width: 714px;
    }
}

@media screen and (min-width: 1440px) {
    .yachts-main-section {
        padding-left: 100px;
        padding-right: 100px;
    }

    .container {
        max-width: 1440px;
    }
}

.yachts-list {
    display: flex;
    /* column-gap: 32px; */
    justify-content: space-between;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .yachts-list {
        margin-bottom: 50px;
    }

}

/* @media screen and (min-width: 1280px) {
.yachts-list {

        column-gap: 25px;

    }
} */
.yachts-list-item {
    width: 392px;
    border: none;
    background-color: #FBFBFB;
    border-radius: 24px;
    padding: 16px;
}

@media screen and (min-width: 768px) {
    .yachts-list-item {
        max-width: 336px;
    }
}

@media screen and (min-width: 1280px) {
    .yachts-list-item {
        max-width: 377px;
    }
}

@media screen and (min-width: 1440px) {
    .yachts-list-item {
        max-width: 392px;
    }
}

@media screen and (max-width: 767px) {
    .yachts-list-item-tab {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    .yachts-list-item-desk {
        display: none;
    }
}


.yachts-description {
    padding: 32px;
}

.yachts-description-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.yachts-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.045em;
    text-align: left;
    text-transform: uppercase;
    justify-content: center;
    color: #1B414B;
}

.yachts-type-class {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: left;
    align-items: baseline;
    justify-content: center;
    color: #040306;
}

.yachts-description-full {
    display: flex;
    justify-content: space-between;
}

.yachts-properties {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #040306;
    /* margin-right: 114px; */
}

/* @media screen and (min-width: 768px) {
.yachts-properties {
       
        margin-right: 104px;
    }

} */

.yachts-properties-values {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #040306;
}

.yachts-button-yachts-rental {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.26;
    letter-spacing: -0.02em;
    cursor: pointer;
    display: block;
    min-width: 141px;
    height: 46px;
    border: 1px solid #FBFBFB59;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #1B414B;
    color: #FBFBFB;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yachts-button-yachts-rental:hover,
.yachts-button-yachts-rental:focus {
    background-color: #FBFBFB;
    color: #1B414B;
}

@media screen and (min-width: 768px) {
    .yachts-button-yachts-rental {
        font-size: 18px;
        line-height: 1.11;
        min-width: 179px;
        height: 52px;
    }

}